.app {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh; /* Full viewport height */
}

.sidebar {
    width: 250px;
    background-color: #271C23; /* Dark purple */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section-list {
    flex-grow: 1;
}

.section-item {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.section-item:hover, .section-item.active {
    background-color: #452736; /* Lighter purple */
}

.new-section {
    display: flex;
    gap: 10px;
}

.new-section input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.new-section button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 50px;
}

.top-bar {
    padding: 10px;
    background-color: #8E4B95; /* Lighter purple */
    color: white;
}

.note-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #271C23; /* Lighter purple */
    border-radius: 25px;
    width: 50%;
}

.note-editor input, .note-editor button {
    margin-top: 10px;
}

.note-editor button {
    padding: 10px;
    background-color: #D55575; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

.textarea {
    resize: none;  /* Disable manual resizing */
    width: 100%;   /* Optional: Make the textarea take full width */
    max-height: 1000px;  /* Limit the height to 150px */
    overflow: auto;     /* Enable scrolling when content exceeds max height */
    font-family: 'Helvetica', 'Arial', sans-serif;  /* Set Helvetica with fallbacks */
    background-color: #271C23;
    border-color: #452736;
    border-radius: 5px;
    color: white;
    font-size: large;
}

.send button {
    width: 100%;
}

body {
    background-color: #1B191D;
}

.postDesc {
    max-width: 50%;
    overflow: auto;
    word-wrap: break-word;
    @media screen and (max-width: 640px) {
        max-width: 100%;
        margin-bottom: 5%;
    }
}

.ai-output {
    color: white;
    font-size: large;
    font-family: 'Helvetica', 'Arial', sans-serif;  /* Set Helvetica with fallbacks */
}
